---
- hosts: 127.0.0.1
  connection: local
  vars:
    image_tag: "3"
  become: no
  pre_tasks:
    - name: Ensure package dependencies are installed
      apt:
        state: present
        name: python-pip
    - name: Ensure python package dependencies are installed
      pip:
        state: present
        name: docker

  tasks:
    - name: Login to docker hub
      docker_login:
        username: "gaurav0o7"
        password: Home@1234
        email: gaurav181187@gmail.com
        config_path: "{{ lookup('env', 'HOME') }}/.docker/config.json"
        reauthorize: yes
    - name: Build Image
      docker_image:
        build:
          path: ../src
          pull: yes
        name: gaurav0o7/devops-image
        tag: "latest"
        force_tag: yes
        source: build
        force_source: yes
    - name: Push Image
      command: docker push gaurav0o7/devops-image
